recursive-include src *
recursive-include lib *
recursive-exclude src __pycache__ *.py[co]
recursive-exclude lib __pycache__ *.py[co]
include python/helper.pl
include CHANGELOG.md
include CITATION.cff
