recursive-include engine *
recursive-include lib *
recursive-exclude engine __pycache__ *.py[co]
recursive-exclude lib __pycache__ *.py[co]
include bindings/python/helper.pl
include CHANGELOG.md
include CITATION.cff
include SECURITY.md
